html {
    background: #1a1a1a;
}
body {
    margin-right: auto;
    margin-left:  auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

.page {
    margin-top: 2rem;
}
    .page-title {
        font-weight: bold;
        line-height: 28px;
        margin-bottom: 30px;
    }
        .page-title a {
            text-decoration: none;
            color: #d1cfcf
        }
    .page-list {
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }
        .page-list-item {
            margin-top: 30px;
        }
            .page-list-item-title a{
                color: #d1cfcf;
                text-decoration: none;
            }
            .page-list-item-publishing-date {
                color: #8b8b8b;
            }
            .page-list-item-text-content {
                font-size: 1.0em;
                line-height: 1.6em;
                color: #d1cfcf;
            }